@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Permanent+Marker&display=swap');

/*----------------- Global styles -------------------*/

body {
    margin: 0;
    background-color: black;
}

html {
    min-height: 100vh; 
}


/* --------------- Main menu section --------------- */

.page-title {
    font-family: 'Freckle Face', cursive;
    color: #FF6600;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Permanent Marker', cursive;
    color: #FFBB89;
    font-size: 3em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    width: 125px;
    height: 175px;
}

.card-back:hover {
    border: 3px solid #FFBB89;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6600;
    font-family: 'Freckle Face', serif;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, .8);
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}


.card-back {
    background-color:#FF6600;
}

.card-front {
    background-color: #FFBB89;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    transform: rotateY(180deg); 
}

.card-front:hover {
    border: 3px solid #676767;
}

@media (min-width: 768px) {
    .game-container {
        grid-gap: 10px;
        grid-template-columns: repeat(4, auto);
    }

    .card {
        margin: auto;
    }
}